body      {background-color:#6699FF;
            color:#D5E3FF;
            font-family: Arial, Verdana, sans-serif;}
header    {background-color: #6699FF;
            color:#003366;}  
 h1     {text-align: center;}
 		    
nav        {font-weight:bold;
            text-align:center;}
.category  {background-color: #6699FF;
             color:#003366;
             font-weight:bold;
             text-shadow: 1px 1px 1px #667;
              font-size:1.1em;}
img          {border:none;}
footer      {font-size:.70em;
              font-style: italic;}
footer nav   {text-align: left;}
#wrapper { margin-right:auto;
            margin-left: auto;
              width:80%;
            min-width: 700px;
            max-width: 1024px;}

